# Ignore binaries.
*.pyd
*.dll
*.lib
*.so

# Ignore directories for building distributions.
build
dist
source/fmipp
MANIFEST
release/build_py*
fmipp.egg-info

# Ignore SWIG Python wrapper and other scripts from FMI++ ...
fmipp/fmippim.py
fmipp/export/fmippex.py

# Ignore pyc files.
*.pyc

# Ignore artefacts from testing.
*.fmu
test/zigzag
test/zigzag2
test/FMUExportTestCS

# Ignore artefacts from documentation
doc/_build
