# Ignore binaries.
*.pyd
*.dll
*.lib

# Ignore directories for building distributions.
build
dist

# Ignore SWIG Python wrapper and other scripts from FMI++ ...
fmipp/*.py
# ... but do not ignore __init__.py
!fmipp/__init__.py

# Ignore pyc files.
*.pyc
