# Ignore binaries.
*.pyd
*.dll
*.lib

# Ignore directories for building distributions.
build
dist

# Ignore SWIG Python wrapper and other scripts from FMI++ ...
fmipp/fmippim.py
fmipp/export/fmippex.py

# Ignore pyc files.
*.pyc
